## 所需套件
* pandas
* json

In [5]:
import pandas as pd
import json

In [6]:
# 開啟爬好的資料，將檔案轉成 dict
jsonObj = open('Allcourse.json','r', encoding='utf-8')
data = json.load(jsonObj)

## 亂碼老師

* 微積分(一)                     童士��  --> 童士恒
* 勞動法概論     2     A         康�Y銘  --> 康倈銘
* 物件導向程式設計     2     A   黃健�Y --> 黃健倈
* 建築設計(五)A     3     A      陳�C仁 --> 陳䳭仁
* 生物化學(二)     3     A      王�痗� --> 王恒隆

## 製作Dataframe

In [7]:
courses = []    # 課程列
for d in data:
    d = pd.Series(d)
    courses.append(d)

df_allCourse = pd.DataFrame(courses)    # 組成 DataFrame
df_allCourse.head()                     # 試一下結果

,id,dept,name,grade,class,teacher,period,category,credit,location
0,SOA033,SO,資產配置與信託規劃實務,1,A,蔡宗廷,"[[4, 3], [4, 4]]",False,2,B01-101
1,SOA034,SO,個人理財與投資,1,A,黃旭輝,"[[3, 7], [3, 8]]",False,2,M01-206
2,SOA062,SO,統計與生活,1,A,楊洪鼎,"[[2, 5], [2, 6]]",False,2,L02-202
3,SOA118,SO,理財與人生,1,A,蔡宗廷,"[[4, 1], [4, 2]]",False,2,B01-101
4,SOA183,SO,性/別與法律,1,A,陳玫君,"[[2, 10], [2, 11]]",False,2,B01-107

## 總課程分析(時段)
* 真無聊
* 應用 : 分析學校人流

In [8]:
course_time = {}
for period in df_allCourse.period:
    for time in period:
        if (time[0], time[1]) in course_time:
            course_time[(time[0], time[1])] += 1
        else:
            course_time[(time[0], time[1])] = 1

course_time = pd.Series(course_time)
course_time = course_time.sort_index()

df = pd.DataFrame({'Mon':course_time[(1)], 'Tue':course_time[(2)], 'Wed':course_time[(3)], 'Thur':course_time[(4)], 'Fri':course_time[(5)], 'Sat':course_time[(6)], 'Sun':course_time[(7)]})

df.fillna(0).astype('int64')

      Mon  Tue  Wed  Thur  Fri  Sat  Sun
0.0    81    3    1     1    1    0    0
1.0    14   34   18    19   17    4    0
2.0    60   84   80    78   60    7    1
3.0    80  104  101    92   66    6    1
4.0    79  100  100    90   64    6    1
4.5     4    5    3     3    2    0    1
5.0    78   86   58    91   44    3    1
6.0    89   94   63   100   55    3    1
7.0    82   74   62    89   47    2    1
8.0    52   26   42    50   31    2    1
9.0    16   18   15    13    9    0    1
10.0   11   22   11    12    6    0    0
11.0    8   19    5    10    5    0    0
12.0    7   10    1     1    2    0    0

## Category 分類

In [9]:
jsonObj = open('class_code.json','r', encoding='utf-8')
class_code = json.load(jsonObj)

In [10]:
class_code

[{'text': '通識微學分', 'code': 'MI'},
 {'text': '共同必修系列', 'code': 'GR'},
 {'text': '核心通識', 'code': 'CC'},
 {'text': '通識人文科學類', 'code': 'LI'},
 {'text': '通識自然科學類', 'code': 'SC'},
 {'text': '通識社會科學類', 'code': 'SO'},
 {'text': '全民國防教育類', 'code': 'CD'},
 {'text': '興趣選修', 'code': 'IN'},
 {'text': '西洋語文學系', 'code': 'wl'},
 {'text': '運動健康與休閒學系', 'code': 'kh'},
 {'text': '工藝與創意設計學系', 'code': 'CCD'},
 {'text': '建築學系', 'code': 'DA'},
 {'text': '創意設計與建築學系', 'code': 'CDA'},
 {'text': '東亞語文學系', 'code': 'EL'},
 {'text': '運動競技學系', 'code': 'DAP'},
 {'text': '人文社會科學院共同課程', 'code': 'CHS'},
 {'text': '法律學系', 'code': 'la'},
 {'text': '政治法律學系', 'code': 'GL'},
 {'text': '財經法律學系', 'code': 'fl'},
 {'text': '法學院共同課程', 'code': 'CCL'},
 {'text': '應用經濟學系', 'code': 'ae'},
 {'text': '金融管理學系', 'code': 'FI'},
 {'text': '資訊管理學系', 'code': 'IM'},
 {'text': '管理學院共同課程', 'code': 'CCM'},
 {'text': '應用數學系', 'code': 'am'},
 {'text': '應用化學系', 'code': 'ac'},
 {'text': '應用物理學系', 'code': 'AP'},
 {'text': '理學院共同課程', 'code': 'CCS'},
 {'text': '電機工程學系', 'code': 'ee'},
 {'text': '土木與環境工程學系', 'code': 'CE'},
 {'text': '資訊工程學系', 'code': 'CS'},
 {'text': '化學工程及材料工程學系', 'code': 'CM'},
 {'text': '生命科學系', 'code': 'ls'},
 {'text': '亞太工商管理學系', 'code': 'ab'},
 {'text': '國際學生系', 'code': 'ISP'},
 {'text': '創新學院不分系', 'code': 'IFD'}]

## 做 ABC category 分類

In [11]:
# A1 系上必修 : 
# A2 系上選修 : 
# A3 共同必修 : 'GR'

# B1 核心通識 思維方法 : 'CC'
# B2 核心通識 美學素養 : 'CC'
# B3 核心通識 公民素養 : 'CC'
# B4 核心通識 文化素養 : 'CC'
# B5 核心通識 科學素養 : 'CC'
# B6 核心通識 倫理素養 : 'CC'

# C1 博雅通識 人文科學 : 'LI'
# C2 博雅通識 社會科學 : 'SO'
# C3 博雅通識 自然科學 : 'SC'

In [12]:
# 做 A,C 的分類
df_allCourse.loc[df_allCourse.dept == 'LI', 'category'] = 'C1'
df_allCourse.loc[df_allCourse.dept == 'SO', 'category'] = 'C2'
df_allCourse.loc[df_allCourse.dept == 'SC', 'category'] = 'C3'
df_allCourse.loc[df_allCourse.dept == 'GR', 'category'] = 'A3'
df_allCourse.loc[df_allCourse.dept == 'CC', 'category'] = 'B'
df_allCourse.loc[df_allCourse.category == True, 'category'] = 'A1'
df_allCourse.loc[df_allCourse.category == False, 'category'] = 'A2'

In [13]:
# 做 B 的細類
# [I1, I2, O3, O4, C5, C6]
C5 = []
C6 = []
I1 = []
I2 = []
O3 = []
O4 = []

# df_allCourse.id = 'CCXXXXX'
for dd in df_allCourse.id:
    I1.append(dd[:4] == 'CCI1')
    I2.append(dd[:4] == 'CCI2')
    O3.append(dd[:4] == 'CCO3')
    O4.append(dd[:4] == 'CCO4')
    C5.append(dd[:4] == 'CCC5')
    C6.append(dd[:4] == 'CCC6')
# CC 內放置各向度的真值表
CC = [I1, I2, O3, O4, C5, C6]
# .loc[bool_list, column_name] 將會把 bool_list中為True的rows拿出來
for i in range(0, 6):
    df_allCourse.loc[CC[i], 'category'] = 'B' + str(i + 1)

## 電機AB班合開處理
### 電機AB班特性
* id, grade, location, teacher, ..., 除了class不同
* 目的移除 A 班，將 B 班['class']改成 AB

### 使用工具
* 使用到 `df.duplicated()` 處理重複項
* 使用到 `df.drop_duplicates()` 移除重複項

### df.duplicated
df.duplicated(subset, keep)
* subset : 必須裝東西，裡面可以塞比較的對象，所以不比 'class' 其他都可以
* keep : 分別有 'first' & 'last'，前者代表**保留前項==顯示後面為重複項**，後者代表**保留後項==顯示前面為重複項**

### df.drop_duplicates
df.drop_duplicates(subset, keep)
* subset : 必須裝東西，裡面可以塞比較的對象，所以不比 'class' 其他都可以
* keep : 分別有 'first' & 'last'，前者代表**保留前項==刪除後面重複項**，後者代表**保留後項==刪除前面重複項**

In [14]:
# repeat 為表示合開課堂
repeat = df_allCourse[df_allCourse.duplicated(subset = ['id', 'grade', 'location', 'teacher'], keep='first')]
# 但是不只有電機合開
# 此處為 BUG，重寫爬蟲可以處理
repeat = repeat[repeat['class']!='A']
# 將電機重複項存入 B_class_repeat
B_class_repeat = list(repeat.index)
# 使用 loc 更改 B -> AB
df_allCourse.loc[B_class_repeat, 'class'] = 'AB'
# 移除重複項
df_allCourse = df_allCourse.drop_duplicates(subset = ['id', 'grade', 'location', 'teacher'], keep='last')
# 檢查
df_allCourse[df_allCourse['dept'] == 'EE'].tail()

,id,dept,name,grade,class,teacher,period,category,credit,location
1114,EEF992,EE,半導體元件物理,4,AB,藍文厚,"[[2, 10], [2, 11], [2, 12]]",A2,3,C01-B104
1115,EEG593,EE,模糊與演化式計算,4,AB,"賴智錦,歐陽振森","[[4, 2], [4, 3], [4, 4]]",A2,3,C01-104
1116,EEG695,EE,機器人影像控制技術,4,AB,吳志宏,"[[5, 6], [5, 7], [5, 8]]",A2,3,C01-B101
1117,EEG70B,EE,智慧生活空間資訊截取與運用效能化設計(II),4,AB,梁明正,"[[2, 5], [2, 6], [2, 7]]",A2,3,C01-B101
1118,EEG712,EE,科技溝通,4,AB,張文騰,"[[1, 5], [1, 6], [1, 7]]",A2,3,C01-414

## 電機、土環 AB

In [15]:
course_dept = list(set(df_allCourse.dept))

# 移除電機土環
course_dept.remove('CE')
course_dept.remove('EE')

# 移除非 AB 系統的科系
for cd in course_dept:
    df_allCourse.loc[df_allCourse.dept == cd, 'class'] = ''

## 處理 DataFrame index 問題
* 因為有刪除其中內容，使得index數字中斷
* 使用 df.reset_index(drop=True)

In [16]:
df_allCourse = df_allCourse.reset_index(drop=True)

## 將DataFrame轉為JSON
* 因為內建df.to_json格式不是原格式
### 將 series -> dict
* pandas.Series : df.to_dict()

In [17]:
# 示範
df_allCourse.loc[1,].to_dict()

{'id': 'SOA034',
 'dept': 'SO',
 'name': ' 個人理財與投資',
 'grade': '1',
 'class': '',
 'teacher': '黃旭輝',
 'period': [[3, 7], [3, 8]],
 'category': 'C2',
 'credit': '2',
 'location': 'M01-206'}

In [18]:
all_course = [] #總課表

# 將各 series 轉為 dict 放置 all_course list
for i in range(len(df_allCourse)):
    tempCourse = df_allCourse.loc[i,].to_dict()
    all_course.append(tempCourse)
# 存入 AllCourse_new.json
with open('AllCourse_new.json','w',encoding='utf8') as f:
    f.write(json.dumps(all_course, ensure_ascii=False).encode("utf8",errors='ignore').decode("utf8",errors='ignore'))